rojo = #cc181e
negro = #222
gris = #767676
azul = #167ac6
gris_claro = #e8e8e8
gris_mas_claro = #f8f8f8

section
  max-width 1200px
div.content
  margin-top 1em
div.main
  max-width 1400px
  margin 0 auto
a
  text-decoration none

@import "normalize.styl"
@import "header/mobile.styl"
@import "view/mobile.styl"
@import "player/mobile.styl"

@media screen and (min-width 400px)
  .process .video
    height 18em
@media screen and (min-width 500px)
  .process .video
    height 22em
@media screen and (min-width 650px)
  .process .video
    height 25em
@media screen and (min-width 720px)
  @import "header/desktop.styl"
  @import "view/desktop.styl"
  .process .video
    height 28em
@media screen and (min-width 850px)
  .process .video
    height 37em
@media screen and (min-width 1000px)
  @import "player/desktop.styl"
  .process .video
    height 28em
@media screen and (min-width 1200px)
  .process .video
    height 35em
