rojo = #cc181e
negro = #222
gris = #767676
azul = #167ac6
gris_claro = #e8e8e8
gris_mas_claro = #f8f8f8

@import "normalize.styl"
@import "header/mobile.styl"
@import "view/mobile.styl"

@media screen and (min-width 720px)
  @import "header/desktop.styl"
  @import "view/desktop.styl"
