.prosses
  position absolute
  left .5em
  padding .5em
  width calc( 70% - 2.5em )

  .video
    background black
    width 100%
    height 30em
  .data
    width calc(100% - 1em)
    background white
    padding .5em
    margin .5em 0

    h3#title
      font-size 1.5em
      color negro
      font-weight normal

    p
      color azul
      cursor pointer
  .info
    background white
    padding .5em

    p.description
      font-size .9em
      color negro

    p.date
      font-weight bold

.recommended
    position absolute
    right .5em
    width calc(30% - .5em)
    background white
    padding 0 .5em
    margin .5em 0

  article.item
    width 100%
    margin .5em auto
    height 6em

    .image
      width 10em
      height 6em
